<!DOCTYPE html>
<html>
  <head>
     <% include ./partial/head %>
  </head>
  <body class="fixed-header menu-behind">
    <!-- START PAGE-CONTAINER -->
    <div class="page-container">
      <!-- START HEADER -->
      <% include ./partial/header_home %>
      <!-- END HEADER -->
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper full-height">
        <div class="content full-height">
          <div class="email-wrapper">
            <!-- START JOBS LIST -->
            <div class="email-list b-r b-grey"> <a class="email-refresh" href="#"></a>
              <div id="emailList">
                <!-- START EMAIL LIST SORTED BY DATE -->
                <!-- END EMAIL LIST SORTED BY DATE -->
              </div>
            </div>
            <!-- END JOBS LIST -->
            
            <% if (info.length > 0) { %>
              <div class="msg-container" data-type="info" style="display:none;"><%= info %></div>
            <% } else if (success.length > 0) { %>
              <div class="msg-container" data-type="success" style="display:none;"><%= success %></div>
            <% } else if (error.length > 0) { %>
              <div class="msg-container" data-type="error" style="display:none;"><%= error %></div>
            <% } %>

            <!-- START OPENED JOB -->
            <div class="email-opened">
              <div class="no-email">
                <h1><img src="assets/img/jobsy_logo_black.png" alt="logo" data-src="assets/img/jobsy_logo_black.png" data-src-retina="assets/img/jobsy_logo_black.png" width="73"><span class="small">&trade;</span></h1>
              </div>
              <div class="email-content-wrapper">
                <div class="actions-wrapper bg-master-lightest">
                  <div class="actions no-margin" style="width: 100%;">
                    <div class="visible-sm-inline-block visible-xs-inline-block all-job-list">
                      <a href="#list" class="email-list-toggle"><center><i class="fa fa-chevron-left" style="padding-top: 15px;font-size: 20px;color: #fff;"></i></center></a>
                    </div>
                      <div class="btn btn-success btn-animated from-top fa fa-arrow-down" data-toggle="modal" id="btnToggleSlideUpSize"><span id="button-text">Apply for this job</span></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="email-content">
                    <div class="row email-content-header-box">
                        <div class="col-sm-8">
                            <div class="outer email-content-header">
                                <!--<div class="col-xs-4 col-sm-3">
                                <div class="middle" style="width: 1px;">
                                    <div class="thumbnail-wrapper d48" id="opened-thumbnail">
                                    </div>
                                </div>
                                </div>-->
                                
                                <div class="col-xs-8 col-sm-9" style="padding-left:0">
                                  <div class="sender profile inline m-l-10">
                                    <p class="name no-margin bold"></p>
                                    <h3 class="job-title semi-bold p-b-10 p-t-10"></h3>
                                    <div class="details email-content-salary">
                                        <h4 class="salary light p-t-10">
                                          <span class="salary-from"></span>
                                          <span class="small">-</span>
                                          <span class="salary-to"></span>
                                          <span class="salary-type no-margin"></span>
                                        </h4>
                                        
                                    </div>
                                    <p class="datetime location no-margin hint-text"></p>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4">
                            <div class="thumbnail-wrapper d48 circular" id="opened-thumbnail"></div>
                        </div>
                        <!--<div class="details col-sm-4 email-content-salary">
                            <h4 class="salary light p-t-10">
                              <span class="salary-from"></span>
                              <span class="small">s/d</span>
                              <span class="salary-to"></span>
                            </h4>
                            <p class="salary-type no-margin"></p>
                        </div>-->
                    </div>
                    <div class="row">
                        <div class="col-sm-12 email-content-desc">
                            <p class="bold">Company Overview</p>
                        </div>
                        <br>
                        <br>
                        <div class="col-sm-12 company_overview">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12 email-content-desc">
                            <p class="bold">Job Scope</p>
                        </div>
                        <br>
                        <br>
                        <div class="col-sm-12 job_scope">
                            <p></p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12 email-content-desc">
                            <p class="bold">Requirements</p>
                        </div>
                        <br>
                        <br>
                        <div class="col-sm-12 requirements">
                            <p></p>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <!-- END OPENED JOB -->
          </div>
        </div>
      </div>
    </div>
    <!-- END PAGE CONTAINER -->

    <!-- BEGIN MODAL OVERLAY -->
    <% include ./partial/modal %>
    <!-- END MODAL OVERLAY -->

    <% if (user) { %>
      <input type="hidden" id="user-id" value="<%= user._id %>" />
      <input type="hidden" id="user_email" value="<%= user.email %>">
      <input type="hidden" id="init-login" value="<%= initLogin %>" />
      <input type="hidden" id="hidden-logo" value="<%= initCompany.logo %>" />
      <input type="hidden" id="hidden-name" value="<%= initCompany.name %>" />
      <input type="hidden" id="hidden-location" value="<%= initCompany.location %>" />
      <input type="hidden" id="hidden-description" value="<%= initCompany.description %>" />
    <% } else { %>
      <input type="hidden" id="user_email" value="none">
    <% } %>  

    <% include ./script/home %>

  </body>
</html>