<!-- USER AUTHENTICATION FORM  -->
<div class="modal fade slide-right" id="modalSlideLeft1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="arrow-right"></div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                </button>
                <div class="container-xs-height full-height">
                    <div class="row-xs-height outer">
                        <div class="signUp-panel">
                            <!-- START PANEL -->
                            <div class="panel panel-default" style="padding-left: 25px;padding-right: 25px;border:0;">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h3>Sign Up</h3>
                                    </div>
                                </div>
                                <div class="panel-body" style="height:auto">
                                    <h5>Create your account in under a minute</h5>
                                    <form id="form-register" action="/signup" class="" method="POST" role="form" autocomplete="off">
                                        <input type="hidden" name="_csrf" />
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group form-group-default required">
                                                    <label>First Name</label>
                                                    <input type="text" name="firstName" placeholder="John" minlength="2" class="form-control" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group form-group-default required">
                                                    <label>Last Names</label>
                                                    <input type="text" name="lastName" placeholder="Appleseed" minlength="2" class="form-control" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group form-group-default required">
                                                    <label>Company Name</label>
                                                    <input type="text" name="companyName" placeholder="eg. Apple Inc" class="form-control" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group form-group-default">
                                                    <label>Email</label>
                                                    <input type="email" name="email" placeholder="We will send activation details to you" class="form-control" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="fform-group form-group-default required">
                                                    <label>Password</label>
                                                    <input type="text" name="password" placeholder="Minimum of 4 Characters" minlength="4" class="form-control" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-t-10">
                                            <div class="col-md-12">
                                                <p>By clicking the button below, you are agree to our <a href="http://jobsy.io/termsofservice.html" target="_blank" class="text-info small">Service Terms</a> and <a href="http://jobsy.io/privacypolicy.html" target="_blank" class="text-info small">Privacy</a>.</p>
                                            </div>
                                            <!--<div class="col-md-4">
                                                <a href="#" class="pull-right text-info small">Need Help?</a>
                                            </div>-->
                                        </div>
                                        <br/><br/>
                                        <div class="clearfix"></div>
                                        <button class="btn btn-primary btn-cons">Create a new account</button>
                                    </form>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p>If you already have an account, <a href="#" class="bold login-btn" style="color:#F55753;text-decoration:underline">login</a> here!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PANEL -->
                        </div>
                        <div class="signIn-panel middle">
                            <!-- START PANEL -->
                            <div class="panel panel-default" style="padding-left: 25px;padding-right: 25px;border:0">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h3>Sign In</h3>
                                    </div>
                                </div>
                                <div class="panel-body" style="height:auto">
                                    <h5>Sign in to your employer account</h5>
                                    <form id="form-login" class="" role="form" method="POST" action="/login">
                                        <div class="form-group form-group-default">
                                            <label>Email</label>
                                            <div class="controls">
                                                <input type="email" name="email" placeholder="Your Email" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="form-group form-group-default">
                                            <label>Password</label>
                                            <div class="controls">
                                                <input type="password" class="form-control" name="password" placeholder="Credentials" required>
                                            </div>
                                        </div>
                                        <!--<div class="checkbox check-success pull-left">
                                            <input type="checkbox" value="1" id="checkbox1">
                                            <label for="checkbox1">Keep Me Signed in</label>
                                        </div>-->
                                        <a href="#" class="pull-right forgotPassword-btn small">Forgot your password?</a>
                                        <div class="clearfix"></div>
                                        <button class="btn btn-primary btn-cons">Sign in</button>
                                    </form>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p>if you don't have an employer account, <a href="#" class="bold signUp-btn" style="color:#F55753;text-decoration:underline">register</a> here!!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PANEL -->
                        </div>
                        <div class="forgetPass-panel">
                            <!-- START PANEL -->
                            <div class="panel panel-default" style="padding-left: 25px;padding-right: 25px;border:0">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h3>Forgot Password?</h3>
                                    </div>
                                </div>
                                <div class="panel-body" style="height:auto">
                                    <h5>Type your email below to retrieve Reset Password Link</h5>
                                    <form id="form-forgot" class="" role="form" method="POST" action="/forgot">
                                        <div class="form-group form-group-default">
                                            <label>Email</label>
                                            <div class="controls">
                                                <input type="email" name="email" placeholder="Your Email" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <button class="btn btn-primary btn-cons">Send Link</button>
                                    </form>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p>If you don't have an account, <a href="#" class="bold signUp-btn" style="color:#F55753;text-decoration:underline">register</a> here!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PANEL -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- CREATE JOB POSTING FORM -->
<% if (user) { %>
<div class="modal fade slide-right" id="PostNewJob" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-userdashboard">
        <div class="modal-content-wrapper">
            <div class="modal-content outer">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i></button>
                <div class="panel panel-transparent middle">
                    <div class="panel-body">
                        <form action="/job/create" id="form-create-job" class="modal-form" role="form" autocomplete="off" method="POST" enctype="multipart/form-data">
                                   
                                            
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group form-group-default">
                                                                <input type="text" name="companyName" placeholder="Company Name" class="form-control" required style="font-family:avenir_book;color: #4a4a4a;font-size: 1.12rem;font-weight: bold;">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12" style="padding-left:0">
                                                            <div class="form-group form-group-default">
                                                                <input type="text" class="form-control" name="jobTitle" placeholder="Position Title" style="font-family:avenir_book;  font-size: 36px;font-weight: 600;height:auto;color: #4a4a4a;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="col-sm-12">
                                                            <div class="col-sm-6">
                                                                <div class="cropme" style="width: 405px; height: 200px;"></div>
                                                                <!--<div id="image-cropper-container" style="width: 190px; height: 190px;position:relative; overflow: hidden;">
                                                                    <img id="createJobImg">
                                                                </div>
                                                                <input type="file" class="form-control" id="createJobImg" name="file" value="" aria-invalid="false">
                                                                <input type="hidden" name="savedLogo" id="savedLogo" value="">-->
                                                            </div>
                                                        </div>
                                                </div>
                                                <!--<div class="col-sm-6">
                                                    <div id="croppic"></div>
                                                    <span class="btn" id="cropContainerHeaderButton">click here to try it</span>
                                                </div>-->
                                            </div>
                                            <!--<div class="row">
                                                        
                                                        <div class="col-sm-12" style="padding-left:0">
                                                            <div class="form-group form-group-default">
                                                                <input type="file" class="form-control" id="createJobImg" name="file" value="<%= user.initCompany.logo %>">
                                                                <input type="hidden" name="savedLogo" id="savedLogo">
                                                            </div>
                                                        </div>
                                            </div>-->
                                            <br>
                                            <br>
                                            <br>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="row">
                                                        <div class="col-sm-4 col-xs-4">
                                                            <select name="currency" class="currency" style="background: #FFF;border-color:rgba(0,0,0,0.07);height:32px;border-radius:0px;  width: 74px;  border: 0;">
                                                                <option value="USD">USD</option>
                                                                <option value="IDR" selected="selected">IDR</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-8 col-xs-8" style="padding-left: 0;">
                                                            <div class="input-daterange input-group" style="  position: relative;left: -30px;">
                                                                <input name="salaryFrom" id="salary-from" type="text" class="input-sm form-control" style=" border: 0;" value="2.000.000" />
                                                                <span class="input-group-addon" style="  background: transparent;">-</span>
                                                                <input name="salaryTo" id="salary-to" type="text" class="input-sm form-control" style=" border: 0;" value="4.000.000"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group salary-type">
                                                        <select name="salaryType" class="full-width" style="background: #FFF;border-color:rgba(0,0,0,0.07);height:32px;border:0px;  width:100%;">
                                                            <option value="Monthly" selected="selected">Monthly</option>
                                                            <option value="Annually">Annually</option>
                                                            <option value="Daily">Daily</option>
                                                            <option value="Hourly">Hourly</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                            <br>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group required">
                                                       <label class="drop-down">Location</label>
                                                        <% include ../dropdown/location_create %>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group required">
                                                        <label class="drop-down">Category</label>
                                                        <% include ../dropdown/category_create %>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group required">
                                                        <label class="drop-down">Job Type</label>
                                                        <select class="full-width job-dropdown" name="jobType" data-init-plugin="select2" required>
                                                          
                                                                <option value="Full Time" selected="">Full Time</option>
                                                                <option value="Contract">Contract</option>
                                                                <option value="Part Time">Part Time</option>
                                                
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                            <br>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                    <label>Description</label>
                                                        <textarea id="editor1" class="textarea-desc" name="description" placeholder="AcmeAgency is a leading app design and development agency based in Copenhagen, London and New York. With a combined experience of over 30 years in the industry, you could say we know a thing or two about app design and crafting sublime, detailed user experiences. This is why our customers come back to us year after year.

                                                        Our award winning apps, for such clients as Acme Photography, Acme Hotels & Leisure, and Acme Dating have gained us a lot of industry attention, given the respective client a great deal of success and pushed the boundaries on what we can acheive on with mobile devices." class="description-text"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                    <br>
                                    <br>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Job Scope <span class="hint-text small"></label>
                                                <textarea id="editor2" name="jobScope" placeholder="AcmeAgency is a leading app design and development agency based in Copenhagen, London and New York. With a combined experience of over 30 years in the industry, you could say we know a thing or two about app design and crafting sublime, detailed user experiences. This is why our customers come back to us year after year.

                                                Our award winning apps, for such clients as Acme Photography, Acme Hotels & Leisure, and Acme Dating have gained us a lot of industry attention, given the respective client a great deal of success and pushed the boundaries on what we can acheive on with mobile devices."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Requirements  <span class="hint-text small"></label>
                                                <textarea id="editor3" name="requirements" placeholder="AcmeAgency is a leading app design and development agency based in Copenhagen, London and New York. With a combined experience of over 30 years in the industry, you could say we know a thing or two about app design and crafting sublime, detailed user experiences. This is why our customers come back to us year after year.

                                                Our award winning apps, for such clients as Acme Photography, Acme Hotels & Leisure, and Acme Dating have gained us a lot of industry attention, given the respective client a great deal of success and pushed the boundaries on what we can acheive on with mobile devices."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                    <button class="btn btn-primary btn-cons" type="submit">
                                                <span>Post Job</span>
                                            </button>
                        <div id="createWizard">
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>

<!-- APPLY JOB FORM -->
<div class="modal fade slide-up disable-scroll" id="applyModal" tabindex="-1" role="dialog" aria-hidden="false" style="overflow:auto">
    <div class="modal-dialog modal-lg">
        <div class="modal-content-wrapper">
            <div class="modal-content" style="box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);">
                <div class="modal-header clearfix text-left">
                    <div class="arrow-right"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14" style="position: relative;left: 19px;top: -16px;"></i>
                    </button>
                    <img class="applicant-icon" src="assets/img/aplly_job.png" alt="logo" data-src="assets/img/aplly_job.png" data-src-retina="assets/img/aplly_job.png" width="100" style="margin-top:25px; margin-bottom:25px;display: inline-block;width: 64px;  margin-left: 17px;">
                    <h5 class="applicant-header" style="display:inline-block;padding-left:20px;position: relative;top: 14px;">Application form for <span class="semi-bold" id="app-to"></span><p class="p-b-10">Fill you informations bellow to apply</p></h5>

                </div>
                <div class="modal-body">
                    <form id="applyForm" class="applyForm" method="POST" enctype="multipart/form-data" autocomplete="off" role="form">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-group-default">
                                    <label>First name</label>
                                    <input type="text" name="firstName" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-default">
                                    <label>Last name</label>
                                    <input type="text" name="lastName" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group  form-group-default required">
                            <label>Email</label>
                            <input type="email" class="form-control" name="email" placeholder="ex: some@example.com" required>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-group-default">
                                    <label>Phone</label>
                                    <input type="text" class="form-control" name="phone" placeholder="ex: 0812 34567890" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-default">
                                    <label>Location</label>
                                    <input type="text" class="form-control" name="location" placeholder="ex: Surabaya" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-group-default">
                            <label>Last Job/Education</label>
                            <input type="text" class="form-control" name="lastJob" placeholder="ex: Apple Inc. (2010 - 2015) as Web Developer" required>
                        </div>
                        <div class="form-group form-group-default">
                            <label style="padding-bottom:10px;">Resume</label>
                            <input type="file" name="resumeFile" id="resumeFile" class="form-control" required>
                        </div>
                        <div class="form-group form-group-default">
                            <textarea class="form-control" id="editor4" name="coverLetter" placeholder="Type your resume cover letters here (optional)" aria-invalid="false" style="height: 140px;"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 m-t-10 sm-m-t-10 pull-right">
                                <button type="submit" class="btn btn-primary btn-animated from-top fa fa-check btn-block" data-target="#applyModal" id="btnToggleSlideUpSize"><span>Submit Application</span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<!-- USER LOGGED VARIOUS FORMS -->
<% if (user) { %>
    <div class="modal fade slide-right" id="accountSettings" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-userdashboard">
            <div class="modal-content-wrapper">
                <div class="modal-content outer" style="background: #FAFAFA;">
                    <div class="arrow-right"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                    </button>
                    <div class="panel panel-transparent middle password1">
                        <div class="panel-body">
                            <div class="panel-heading" style="padding:0">
                                <div class="panel-title" style="text-transform: none;">

                                    <div class="col-sm-12" style="padding-left: 0;">
                                         <img src="assets/img/create_account.png" alt="logo" data-src="assets/img/create_account.png" data-src-retina="assets/img/create_account.png" width="100" style="margin-top:25px; margin-bottom:25px;  display: inline-block;width: 45px;">
                                        <p class="bold" style="display: inline-block;padding-left: 20px;font-size: 19px;  position: relative;top: 19px;">ACCOUNT <br/>SETTINGS</p>
                                        <p>Edit the form below to change your profile</p>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <form id="form-account" action="/account/profile" class="" method="POST" enctype="multipart/form-data" role="form">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-default">
                                            <label>First Name</label>
                                            <input type="text" name="firstName" value="<%= user.firstName %>" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-default">
                                            <label>Last Names</label>
                                            <input type="text" name="lastName" value="<%= user.lastName %>" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-group-default">
                                            <label>Company Name</label>
                                            <input type="text" name="companyName" value="<%= user.companyName %>" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-group-default">
                                            <label for="password">Password:</label>
                                            <a href="#" class="updatePassword-btn"><span class="link">Click here to change your password</span></a>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="clearfix"></div>
                                <button class="btn btn-primary btn-cons">Save</button>
                                <div class="clearfix"></div>
                                <div class="clearfix"></div><!--
                                <br>
                                <br>
                                <br>
                                <br>
                                <button data-target="#deleteAccount" data-toggle="modal" class="btn btn-danger btn-cons" style="margin-top: 20px !important;" disabled>Deactivate My Account</button>-->
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-transparent password2">
                        <div class="panel-body">
                            <div class="panel-heading" style="padding-top:20px;">
                                <div class="panel-title" style="display: none;">
                                    <img src="../assets/img/jobsy_logo_black.png" alt="logo" data-src="../assets/img/jobsy_logo_black.png" data-src-retina="assets/img/jobsy_logo_black.png" width="78" height="22" style="height: auto;">
                                    <h3>Update Password</h3>
                                </div>
                            </div>
                            <br>
                            <form id="form-register" class="p-t-15" role="form" method="POST" action="/password">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-group-default">
                                            <label>New Password</label>
                                            <input type="password" name="password" placeholder="" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-group-default">
                                            <label>Confirm New Password</label>
                                            <input type="password" name="confirmPassword" placeholder="" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="clearfix"></div>
                                <div class="hint-text"><span class="bold">Attention!</span> After you hit the update button, you will be logged out and redirected to homepage. You will need to re-login using your new password.</div>
                                <button class="btn btn-primary btn-cons m-t-10" type="submit">Update</button>
                                <button class="btn m-t-10 btn-cancel-reset" type="button">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- END ACCOUNT SETTINGS OVERLAY -->
    <!-- START BILLING OVERLAY -->
    <div class="modal fade slide-right" id="billingForm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-userdashboard">
            <div class="modal-content-wrapper">
                <div class="modal-content outer" style="background: #FAFAFA;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                    </button>
                    <form id="jobPostForm">
                        <div class="panel panel-transparent middle">
                            <div class="panel-body">
                                <div class="panel-heading" style="padding:0">
                                    <div class="panel-title" style="text-transform: none;">
                                        <img src="assets/img/jobsy_logo_black.png" alt="logo" data-src="assets/img/jobsy_logo_black.png" data-src-retina="assets/img/jobsy_logo_black.png" width="100" style="margin-top:5px; margin-bottom:25px;">
                                        <div class="col-md-12" style="padding-left: 0;">
                                            <br/>
                                            <div class="well"><h3>You have  <%= credit %> credit</h3><span class="small">Click on buttons below to buy more credits</span></div>
                                            <button id="btnBuy1" class="btn btn-default btn-lg semi-bold">BUY <h1 class="bold" style="line-height:0px;">1</h1> CREDIT<br/><span class="bold text-success">RP 50.000</span></button>
                                            <button id="btnBuy5" class="btn btn-default btn-lg semi-bold">BUY <h1 class="bold" style="line-height:0px;">5</h1> CREDITS<br/><span class="bold text-success">RP 250.000</span></button>
                                            <button  id="btnBuy10" class="btn btn-default btn-lg semi-bold">BUY <h1 class="bold" style="line-height:0px;">10</h1> CREDITS<br/><span class="bold text-success">RP 500.000</span></button>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <br>
                                <button class="btn btn-primary m-t-5" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- END BILLING OVERLAY -->
    <!-- BEGIN DELETE ACCOUNT MODAL  -->
    <div class="modal fade stick-up in" id="deleteAccount" tabindex="-1" role="dialog" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content text-center title">
                <div class="modal-header clearfix text-left">
                    <br/>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <p class="semi-bold">You are about to delete your account. Continue?</p>
                        <br/>
                        <button type="button" data-dismiss="modal" class="btn btn-complete m-t-5 text-center" onclick="location.href='/logout'">Yeah, delete mine</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END DELETE ACCOUNT MODAL -->
    <!-- START APPLICANTS OVERLAY -->
    <div class="modal fade slide-right disable-scroll" id="seeDetailApplicant" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-userdashboard">
            <div class="modal-content-wrapper">
                <div class="modal-content" style="height:auto;  min-height: 100%;">
                    <div class="modal-header clearfix text-left">
                        <button id="appDetailsCloseBtn" type="button" class="close"><i class="pg-close fs-14"></i>
                        </button>
                        <div class="modal-heading" style="padding:0;padding-left: 40px;">
                            <div class="panel-title" style="text-transform: none;">
                                <img src="assets/img/jobsy_logo_black.png" alt="logo" data-src="assets/img/jobsy_logo_black.png" data-src-retina="assets/img/jobsy_logo_black.png" width="100" style="margin-top:5px; margin-bottom:25px;">
                                <div class="col-sm-12" style="padding-left: 0;">
                                    <p class="bold">APPLICATION DETAILS</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body" style="padding:80px;padding-top:0">
                        <form id="form-work" class="form-horizontal" role="form" autocomplete="off">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END APPLICANTS OVERLAY -->
    <div class="modal fade slide-right" id="EditJob" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-userdashboard">
            <div class="modal-content-wrapper">
                <div class="modal-content outer" style="background: #FAFAFA;">
                    <div class="arrow-right"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i></button>
                    <div class="panel panel-transparent middle">
                        <div class="panel-body">
                            <div class="panel-heading" style="padding:0">
                                <div class="panel-title" style="text-transform: none;">
                                    <img src="assets/img/jobsy_logo_black.png" alt="logo" data-src="assets/img/jobsy_logo_black.png" data-src-retina="assets/img/jobsy_logo_black.png" width="100" style="margin-top:25px; margin-bottom:25px;">
                                    <div class="col-sm-12" style="padding-left: 0;">
                                        <p class="bold">EDIT JOB POSTING</p>
                                        <p>Fill the following for to create a new job Listing Be as detailer as possible - this ensures quality of your candidates</p>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <form id="form-edit" role="form" autocomplete="off" method="POST" enctype="multipart/form-data">
                            <div id="editWizard">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs nav-tabs-linetriangle nav-tabs-separator">
                                    <li class="active" id="firstTab">
                                        <a data-toggle="tab" href="#tab5"><i class="fa fa-building-o"></i> <span>Company Profile</span></a>
                                    </li>
                                    <li class="" id="secondTab">
                                        <a data-toggle="tab" href="#tab6"><i class="fa fa-info-circle"></i> <span>Job Details</span></a>
                                    </li>
                                </ul>
                                <!-- Tab panes -->
                                <br>
                                <div class="tab-content">

                                        <div class="tab-pane active slide-left" id="tab5">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group form-group-default">
                                                        <label style="padding-bottom:10px;">Profile Picture</label>
                                                        <input type="file" class="form-control" id="editJobImg" name="logo">
                                                        <input type="hidden" name="oldLogo" id="oldJobImg">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <img id="editJobImg-preview" style="margin-bottom: 20px; max-height: 120px; max-width: 120px;">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group form-group-default">
                                                        <label>Company Name</label>
                                                        <input type="text" name="companyName" placeholder="" class="form-control companyName" required style="  height: 39px;">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group form-group-default">
                                                        <label>Location</label>
                                                        <% include ../dropdown/location_edit %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default" style="min-height:190px;">
                                                        <label>Description</label>
                                                        <textarea id="editor1-edit" name="description"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane slide-left" id="tab6">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>Job Title</label>
                                                        <input type="text" class="form-control jobTitle" name="jobTitle">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group form-group-default">
                                                        <label>Category</label>
                                                        <% include ../dropdown/category_edit %>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group form-group-default">
                                                        <label>Job Type</label>
                                                        <select class="full-width job-dropdown" data-init-plugin="select2" id="jobType" name="jobType" required>
                                                            <optgroup label="Position Type">
                                                                <option value="Full Time">Full Time</option>
                                                                <option value="Contract">Contract</option>
                                                                <option value="Part Time">Part Time</option>
                                                            </optgroup>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default" style="min-height:190px;">
                                                    <label>Job Scope <span class="hint-text small"></label>
                                                      <textarea id="editor2-edit" name="jobScope"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default" style="min-height:190px;">
                                                    <label>Requirements <span class="hint-text small"></span></label>
                                                      <textarea id="editor3-edit" name="requirements"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <p>Salary : </p>
                                            <div class="row">
                                                <div class="col-sm-7">
                                                    <div class="row">
                                                        <div class="col-sm-2 col-xs-2">
                                                          <select name="currency" class="currency" style="background: #FFF;border-color:rgba(0,0,0,0.07);height:32px;border-radius:0px;  width: 74px;">
                                                            <option value="USD">USD</option>
                                                            <option value="IDR">IDR</option>
                                                          </select>
                                                        </div>
                                                        <div class="col-sm-10 col-xs-10" style="padding-left: 0;">
                                                            <div class="input-daterange input-group">
                                                                <input name="salaryFrom" id="salary-from-edit" type="text" class="input-sm form-control salaryFrom"/>
                                                                <span class="input-group-addon">to</span>
                                                                <input name="salaryTo" id="salary-to-edit" type="text" class="input-sm form-control salaryTo" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="form-group salary-type">
                                                        <select name="salaryType" class="salaryType" style="background: #FFF;border-color:rgba(0,0,0,0.07);height:32px;border-radius:0px;  width: 100%;">
                                                            <option value="Monthly">Monthly</option>
                                                            <option value="Annually">Annually</option>
                                                            <option value="Daily">Daily</option>
                                                            <option value="Hourly">Hourly</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <br>

                                    <ul class="pager wizard">
                                        <li class="next btn-next">
                                            <button class="btn btn-primary btn-cons pull-right" type="button">
                                                <span>Job Details</span> <i class="pg-arrow_lright_line_alt"></i>
                                            </button>
                                        </li>
                                        <li class="next finish" style="display:none;">
                                            <button class="btn btn-primary btn-cons pull-right" type="submit">
                                                <span>Save Edited</span>
                                            </button>
                                        </li>
                                        <li class="previous">
                                            <button class="btn btn-primary btn-cons pull-right" type="button">
                                                <i class="pg-arrow_left_line_alt"></i> <span>Company Profile</span>
                                            </button>
                                        </li>
                                    </ul>

                                </div>

                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
<% } %>
